@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="ui error message">@ViewData["Title"]</h1>
    <p class="ui error message">This account has been locked out, please try again later.</p>
</header>
