@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div style="display: flex; justify-content: center;">
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div class="ui segment">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="ui form">
                <h4>Create New Account</h4>
                <div asp-validation-summary="All" class="ui error message"></div>

                <div class="field">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password" class="ui error message"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="ui error message"></span>
                </div>
                <button type="submit" class="ui primary button">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
