@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Set your password</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post" class="ui form">
            <div asp-validation-summary="ModelOnly" class="ui error message"></div>
            <div class="field">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" />
                <span asp-validation-for="Input.NewPassword" class="ui error message"></span>
            </div>
            <div class="field">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="ui error message"></span>
            </div>
            <button type="submit" class="ui primary button">Set password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}